{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <style>
        .table-rounded {
            border-radius: 10px;
            overflow: hidden;
        }
    </style>

    <div class="container text-center">
        <h1>{{ profile.Username }}</h1>
    </div>
    <div class="container">
        <table class="table table-rounded">
            <tbody>
            <tr>
                <th>Prénom</th>
                <td>{{ profile.Surname }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ profile.Name }}</td>
            </tr>

            <tr>
                <th>Téléphone</th>
                <td>{{ profile.Phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ profile.Email }}</td>
            </tr>
            <tr>
                <th>Campus</th>
                <td>{{ profile.Campus }}</td>
            </tr>

            </tbody>
        </table>

    </div>
    <div class="container text-center">
        {% if app.user== user %}
        <a class="btn btn-info" href="{{ path('app_profile_edit', {'id': profile.id}) }}">Modifier</a>
        {% endif %}
        <a class="btn btn-info" href="{{ path('app_outing_index') }}">Retour</a>
    </div>


{% endblock %}
