{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">

        <div class>
            <h3>Filter les sorties</h3>
            {% include 'Filter/_filter.html.twig' with {form: form} only %}
        </div>

        <div class="row text-center">
        <h3>Liste des sorties</h3>
        </div>

        <table class="table table-responsive table-info table-striped table-hover text-center">
            <thead>
            <tr>
                <th>Nom de la Sortie</th>
                <th>Date de la Sortie</th>
                <th>Clôture</th>
                <th>inscrits/places</th>
                <th>Etat</th>
                <th>Organisateur</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for outing in outings %}
                <tr>
                    <td>{{ outing.name }}</td>
                    <td>{{ outing.dateTimeStart ? outing.dateTimeStart|date('d/m/Y H:i') : '' }}</td>
                    <td>{{ outing.registrationDeadline ? outing.registrationDeadline|date('d-m-Y') : '' }}</td>
                    <td>{{ outing.nbRegistrationMax }}</td>
                    <td>{{ outing.status }}</td>
                    <td>{{ outing.organizer}}</td>
                    <td>
                        <a class="btn btn-info" href="{{ path('app_outing_show', {'id': outing.id}) }}">Voir</a>
                        {% if app.user == outing.organizer %}
                            <a class="btn btn-info" href="{{ path('app_outing_edit', {'id': outing.id}) }}">Editer</a>
                        {% endif %}

                        <a class="btn btn-info" href="{{ path('app_user_register', {'id': outing.id}) }}">S'inscrire</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-info" href="{{ path('app_outing_new') }}">Créer Sortie</a>
    </div>
{% endblock %}

{% block title %} {{ parent() }} | Home {% endblock %}