{% extends 'base.html.twig' %}

{% block title %}Outing{% endblock %}

{% block body %}
    <style>
        .table-rounded {
            border-radius: 10px;
            overflow: hidden;
        }
    </style>
    <div class="container">
        <h1>Détail de la Sortie</h1>
        <table class="table table-rounded ">
            <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ outing.name }}</td>
            </tr>
            <tr>
                <th>Date et heure de la sortie</th>
                <td>{{ outing.dateTimeStart ? outing.dateTimeStart|date('d/m/Y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Durée</th>
                <td>{{ outing.duration }}</td>
            </tr>
            <tr>
                <th>Date limite d'inscription</th>
                <td>{{ outing.registrationDeadline ? outing.registrationDeadline|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre de participant maximum</th>
                <td>{{ outing.nbRegistrationMax }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ outing.location.name }}</td>
            <tr>
            <tr>
                <th>Adresse</th>
                <td>{{ outing.location.street }} à {{outing.location.city }}</td>
            <tr>
            <tr>
                <th>Descriptif de la sortie</th>
                <td>{{ outing.infoOuting }}</td>
            </tr>
            </tbody>
        </table>
        <h3>Liste des participants</h3>
        <table class="table table-rounded">
            <thead>
            <tr>
                <th>Pseudo</th>
                <th>Nom</th>

            </tr>

            </thead>
            <tbody>
            {% if outing.user is empty %}
                <tr>
                    <td class="text-center" colspan="2">Pas encore d'inscrit</td>
                </tr>
            {% else %}
                {% for user in outing.user %}
                    <tr>
                        <td> <a href="{{ path('app_showProfile', {'id': user.id}) }}">{{ user.profile.username }}</a></td>
                        <td>{{ user.name|upper }}  {{ user.firstName }}</td>
                    </tr>
                {% endfor %}
            {% endif %}


            </tbody>
        </table>
    </div>
    <div class="container text-center">

        <a class="btn btn-info" href="{{ path('app_outing_index') }}">Retour</a>
    </div>

{% endblock %}
