{% extends 'base.html.twig' %}

{% block title %}Outing{% endblock %}

{% block body %}
    <h1>Outing</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ outing.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ outing.name }}</td>
            </tr>
            <tr>
                <th>DateTimeStart</th>
                <td>{{ outing.dateTimeStart ? outing.dateTimeStart|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ outing.duration }}</td>
            </tr>
            <tr>
                <th>RegistrationDeadline</th>
                <td>{{ outing.registrationDeadline ? outing.registrationDeadline|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>NbRegistrationMax</th>
                <td>{{ outing.nbRegistrationMax }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ outing.location.name }}</td>
            <tr>
            <tr>
                <th>Adresse</th>
                <td>{{ outing.location.street }} à {{outing.location.city }}</td>
            <tr>
            <tr>

                <th>Etat</th>
                <td>{{ outing.status }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>Pseudo</th>
                <th>Nom</th>

            </tr>

        </thead>
        <tbody>
        {% for user in outing.user %}
            <tr>
                <td> <a href="{{ path('app_showProfile', {'id': user.id}) }}">{{ user.profile.username }}</a></td>
                <td>{{ user.name}}  {{user.firstName }}</td>
            </tr>
        {% endfor %}

        </tbody>

    </table>

    <a class="btn btn-info" href="{{ path('app_outing_index') }}">back to list</a>

{% endblock %}
